<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styler.css">
</head>
<body>
    <h1>University Admit Eligibility Predictor</h1>

    <form action="">
        <fieldset>
            <h3>Registration</h3>
            <label for="first-name">First Name:
                <input type="text" id="first-name" required  placeholder="Eg:John Doe"/>
            </label>
            <label for="mail">Email:
                <input type="email" id="mail" required placeholder="john.doe@gmail.com"/>
            </label>
            <label for="pwd">Password:
                <input type="password" id="pwd" required placeholder="hhh"/>
            </label>
            <label>Who Are U?
                <select id="select">
                    <option value="1">User-"Looking for admission"</option>
                    <option value="2">College Students</option>
                    <option value="3">Alumni</option>
                    <option value="4">Educational Experts</option>
                    
                </select>
            </label>
           
        </fieldset>
        <fieldset>
            <p style=" margin: 15px 0; ">Sign Up With:</p>
            <a href="#">
                <img src="WhatsApp Image 2022-10-29 at 8.14.24 PM.jpeg" alt="NON">
            </a>
            <a href="#">
                <img src="WhatsApp Image 2022-10-29 at 8.17.52 PM.jpeg" alt="non">
            </a>
        </fieldset>
        <fieldset>
            
                <p>If Already a member
            <a href="/Login.html/login.html">Login</a>
                </p>
            
            
        </fieldset>
    </form>
</body>
