<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylel.css">
</head>
<body>
    <h1>University Admit Eligibility Predictor</h1>

    <form action="">
        <fieldset>
            <h3>Login</h3>
            <label for="mail">Email:
                <input type="email" id="mail" required placeholder="john.doe@gmail.com"/>
            </label>
            <label for="pwd">Password:
                <input type="password" id="pwd" required placeholder="hhh"/>
            </label>
            <p style="text-align: end;">
                <a href="#">
                    Forget Password?
                </a>
            </p>
           
        </fieldset>
        <fieldset>
            <p style=" margin: 15px 0; ">Sign Up With:</p>
            <a href="#">
                <img  src="WhatsApp Image 2022-10-29 at 8.14.24 PM.jpeg" alt="NON">
            </a>
            <a href="#">
                <img src="WhatsApp Image 2022-10-29 at 8.17.52 PM.jpeg" alt="non">
            </a>
        </fieldset>
        <fieldset>
            
                <p>Doesn't Have Acoount Yet? 
            <a href="/SignUp/Signup.html">Sign Up</a>
                </p>
            
            
        </fieldset>
    </form>
</body>
