body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: white;
    color:black;
    font-family: Tahoma;
    font-size: 16px;
  }

h1 {
   margin: 1em auto;
   text-align: center;
}
fieldset{
  border: none;
  padding: 2rem o;
  border-bottom:3px solid blue;
  
}
label{
  display:block;
  margin: 15px 0;
  color: black;
}
form{
  border: 1px solid red;
  min-width: 500px;
  max-width: 300px;
  margin:0 auto;
  padding:30px;
}
input{ 
  width: 100%;
  border: none;
  margin: 5px 0;
  min-height: 25px;
  border-bottom:3px solid black;
  background-color: white;

}
select{
  width: 100%;
  margin: 5px 0;
  min-height: 25px;
}
fieldset:last-of-type{
  border: none;
}
a>img{
  padding-left:110px;
   width:40px;
   margin-left:20px;
   padding-bottom: 10px;
   padding-top: 5px;
   
 }
placeholder{
  color: black;
}
fieldset>p{
  text-align: center;
}
h3{
  text-align: center;
}
